* {
    margin: 0px;
    padding: 0px;
}

.clearfix {
    float: none;
    clear: both;
}

#global {
    width: 65%;
    margin: 0px auto;
    margin-top: 30px;
    padding: 30px;
    background-color: white;
    box-shadow: 0px 0px 2px gray;
}

#logo {
    width: 385px;
    height: 80px;
    line-height: 80px;
    font-family: Verdana, Arial;
    font-size: 28px;
    letter-spacing: 4px;
    color: white;
    text-align: center;
    margin-bottom: 20px;
    float: left;
    text-transform: uppercase;
}

#menu {
    font-family: Helvetica, Arial;
    background-color: #333;
    text-transform: uppercase;
    width: 100%;
    margin-bottom: 20px;
}

#menu ul {
    line-height: 46px;
    list-style: none;
}

#menu ul li {
    height: 46px;
    display: inline-block;
    text-decoration: none;
    transition: all 300ms;
}

#menu a {
    display: block;
    color: white;
    text-decoration: none;
    padding-left: 30px;
    padding-right: 30px;
}

#posts {
    width: 60%;
    float: left;
    font-family: Helvetica, Arial;
}

.post {
    padding: 7px;
}

.post h2 {
    font-size: 30px;
    color: #333;
}

.post .date {
    display: block;
    color: gray;
    margin-top: 5px;
}

.post p {
    line-height: 22px;
    text-align: justify;
    margin-top: 10px;
    margin-bottom: 20px;
}

.button-more {
    display: block;
    color: white;
    width: 75px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    text-decoration: none;
    font-size: 15px;
    margin-bottom: 20px;
}

#sidebar {
    width: 31%;
    float: right;
    font-family: Helvetica, Arial;
}

#sidebar h4 {
    margin-top: 50px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 18px;
    line-height: 8px;
    color: #333;
    background-image: url('../img/lines.png');
    background-repeat: repeat-x;
}

#sidebar h4 span {
    background-color: white;
    padding: 5px;
}

#sidebar img {
    width: 100%;
}

#sidebar p {
    font-size: 15px;
    text-align: justify;
}

#login form input[type="text"],
#login form input[type="email"],
#login form input[type="password"] {
    display: block;
    width: 80%;
    padding: 5px;
    border-radius: 2px;
    border: 1px solid #ccc;
    margin-top: 5px;
    margin-bottom: 10px;
}

#login form input[type="submit"] {
    padding: 8px;
    border-radius: 2px;
    border: 1px solid #ccc;
    background-color: #eee;
    color: #333;
    cursor: pointer;
}

#login form input[type="submit"]:hover {
    background-color: #e5e5e5;
}

#footer {
    font-family: Helvetica, Arial;
    color: white;
    line-height: 60px;
    height: 60px;
    width: 65%;
    text-align: center;
    background-color: rgba(51, 51, 51, 0.7);
    padding-left: 20px;
    padding-right: 20px;
    margin: 0px auto;
    margin-top: 20px;
}

.bx-wrapper, .bx-viewport {
    max-width: 100% !important;
    height: 250px !important;
}

.bx-wrapper img {
    max-width: none !important;
}

.bx-wrapper .bx-controls-direction a {
    z-index: 1 !important;
}

#selector-theme {
    position: fixed;
    top: 42%;
    background-color: rgba(51, 51, 51, 0.5);
    width: 50px;
    height: 100px;
}

#to-green,
#to-red,
#to-blue {
    display: block;
    border: 1px solid white;
    width: 25px;
    height: 25px;
    margin: 0px auto;
    margin-top: 5px;
    margin-bottom: 5px;
    cursor: pointer;
}

#to-green {
    background-color: #235e3d;
}

#to-red {
    background-color: #ca3413;
}

#to-blue {
    background-color: #1f87c3;
}

.scroll-top {
    color: white;
    text-decoration: none;
    float: right;
}

.scroll-top:hover {
    text-shadow: 0px 0px 1px white;
}

#user_info {
    float: right;
    margin-right: 70px;
    color: white;
}

#menu li:last-child {
    text-transform: none;
}

#menu li:last-child:hover {
    background-color: #333;
    text-shadow: 0px 0px 1px white;
    cursor: pointer;
}

#user_info span {
    float: left;
    padding-right: 10px;
    font-family: WebSymbols;
    line-height: 42px;
}

#user_info a {
    float: left;
    padding: 0px;
}

.display_menu {
    position: absolute;
    border: 1px solid #ccc;
    width: 130px;
    height: 187px;
    z-index: 2;
    margin-top: 46px;
    background-color: #444;
    box-shadow: 0px 1px 2px #ccc;
}

.display_menu li {
    display: block !important;
    padding-left: 5px;
    border-bottom: 1px solid #ccc;

}

.display_menu li:last-child {
    border-bottom: none;
}

#logout a {
    display: block;
}